:ruby
  link_path ||= current_show_path(node)

.card.large-card
  .card-header
    %h2
      = link_to(link_path) do
        %small.left
          = node.labels.join(', ')
        %small.right
          = node.neo_id
        %br
        = node.human_title
        %br
        %small= node.ident rescue ''
    %hr
  .card-body
    .row
      .row{"data-equalizer" => ""}
        .columns.small-10
          .tabs-content
            = render 'property_tabs', node: node
        .columns.small-2.right
          = render 'property_tabs_control', node: node


