.card
  .card-header
    %h3
      = @node.title
      %small= @node.neo_id
    %ul
      %li
        = @node.ident rescue 'n/a'
      %li
        = @node.labels.join(', ')
    %hr
      = @cardtec_node.to_html

  .card-editor
    %big
      = text_area_tag :code, @cardtec_node.to_yaml, rows: 30, cols: 80
