.cardtec-card
  .cardtec-card-header
    %h3
      = @cardtec_node.title rescue 'n/a'
      %small= @cardtec_node.neo_id
    %ul.no-bullet
      %li
        = @cardtec_node.ident rescue 'n/a'
      %li
        = @cardtec_node.labels.join(', ')
    %hr
  .cardtec-card-content
    %dl.tabs{"data-tab" => ""}
      %dd.active
        %a{:href => "#panel1"} Tab 1
      %dd
        %a{:href => "#panel2"} Tab 2
      .tabs-content
        #panel1.content.active
          .props.clearfix
            = @cardtec_node.to_html

        #panel2.content
          .cardtec-card-editor
            = simple_form_for :cardtec_node, method: :put, remote: false do |f|
              = f.submit
              = f.text_area :yaml, value: @cardtec_node.to_yaml, rows: 30, cols: 80











