.cardtec-card
  .cardtec-card-header
    %h3
      = @cardtec_node.title rescue 'n/a'
      %small= @cardtec_node.neo_id
    %ul.no-bullet
      %li
        = @cardtec_node.ident rescue 'n/a'
      %li
        = @cardtec_node.labels.join(', ')
    %hr
      = @cardtec_node.to_html

  .cardtec-card-editor
    = text_area_tag :code, @cardtec_node.to_yaml, rows: 30, cols: 80
