.large-card.radius

  .cardtec-card
    .cardtec-card-header
      %h2
        = render 'noodle/nodes/node/header', node: node
      %hr
    .cardtec-card-content

      %ul.tabs{"data-tab" => ""}
        %li.tab-title.active
          %a{:href => "#edit"}
            %span.button.radius
              = fa_icon 'pencil 2x', text: 'edit'
        / %li.tab-title
        /   %a{:href => "#json"}
        /     %span.button.radius
        /       = fa_icon 'columns 2x', text: 'json'
        %li.tab-title
          %a{:href => "#show"}
            %span.button.radius
              = fa_icon 'columns 2x', text: 'show'
        %li.tab-title
          %a{:href => "#delete"}
            %span.button.radius
              = fa_icon 'columns 2x', text: 'delete'


      .tabs-content
        #edit.content.active
          .cardtec-card-editor
            = simple_form_for :cardtec_node, method: :put, remote: false do |f|
              = f.button :submit
              = f.text_area :yaml, value: node.to_yaml, rows: 20, cols: 80
              = f.button :submit
        / #json.content.active
        /   .cardtec-card-editor
        /     = simple_form_for :cardtec_node, method: :put, remote: false do |f|
        /       = f.button :submit
        /       = f.text_area :json, value: node.to_json, rows: 30, cols: 80
        /       = f.button :submit
        #show.content
          .props.horizontal
            = node.to_html
        #delete.content
          .props.horizontal
            = link_to 'sure?', noodle_node_path(node.neo_id), method: :delete, class: 'button'
