%ul.side-nav
  %li
    %a.button{href: current_index_path}
      = fa_icon 'th-large', text: 'deck'
  %li
    %button.open_quick_add.disabled.hide
      = fa_icon 'plus-circle', text: '++'
  %li
    %button{data: { 'maker-tool' => 'maker-creator' } }
      = fa_icon 'plus-circle', text: 'add'
  %li
    %button{data: { 'maker-tool' => 'maker-editor' } }
      = fa_icon 'pencil', text: 'edit'
  %li
    %button{data: { 'maker-tool' => 'maker-mixer' } }
      = fa_icon 'cogs', text: 'mix'
  %li
    %button{data: { 'maker-tool' => 'maker-classic-editor' } }
      = fa_icon 'pencil', text: 'cedit'
  %li
    %button.open_images.disabled.hide
      = fa_icon 'image', text: 'image'
  %li
    %button.open_bundler.disabled.hide
      = fa_icon 'sitemap', text: 'bag'
  %li
    %button.open_map.disabled.hide
      = fa_icon 'map-marker', text: 'map'
  %li
    %button.open_timetable.disabled.hide
      = fa_icon 'clock-o', text: 'time'
  %li
    %button.open_info.disabled.hide
      = fa_icon 'info', text: 'info'
  %li
    %button.open_actions.disabled.hide
      = fa_icon 'flash', text: 'action'
  %li
    %button.open_beta.disabled.hide
      = fa_icon 'bomb', text: 'beta'
  %li
    %button.open_shell.disabled.hide
      = fa_icon 'terminal', text: 'shell'
  %li
    %button.open_vote.disabled.hide
      = fa_icon 'thumbs-up', text: 'vote'
