:ruby
  link_path ||= current_show_path(node)

.card.large-card{card_element_properties(node)}
  .cardtec-header
    = cardtec_header(node)
  .card-header
    .info-line
      %small.left
        = node.labels.join(', ')
      %small.right
        = node.neo_id
    %br
    .duo_panel
      .left
        %h3
          = node.human_title
        %ul.no-bullet
          %li
            %small= node.ident
          %li
            %small= node.uuid
          %li
            %small= I18n.l(node.created_at.to_time.localtime)
            &nbsp;&nbsp;&nbsp;
            %small= I18n.l(node.updated_at.to_time.localtime)

      .right.main-image
        = image_tag(node.image.larger.url) if node.image?

    %hr
  .card-body
    .row
      .row{"data-equalizer" => ""}
        .columns.small-10
          .tabs-content
            = render 'property_tabs', node: node
            = render 'related_nodes_tabs', node: node
            = render 'images_tab', node: node
        .columns.small-2.right
          = render 'property_tabs_control', node: node
          = render 'related_nodes_tabs_control', node: node
          = render 'images_tab_control', node: node

  .card-footer

