:ruby
  link_path ||= current_show_path(node)

.info-line
  %small.left
    = node.labels.join(', ')
  %small.right
    = node.neo_id
%br

.duo_panel
  .left
    %h3
      = node.human_title
    %ul.no-bullet
      %li
        %small= node.ident
      %li
        %small= node.uuid
      %li
        %small= I18n.l(node.created_at.to_time.localtime)
        &nbsp;&nbsp;&nbsp;
        %small= I18n.l(node.updated_at.to_time.localtime)

  .right.main-image
    = image_tag(node.image.larger.url) if node.image?
