:ruby
  all_related_nodes = node.all_related_nodes

%ul.tabs{"data-tab" => ""}
  %li.tab-title.active
    %a{:href => "#all_related"}
      %strong
        all related nodes
  - node.association_methods.each do |am|
    %li.tab-title
      %a{:href => "#related_#{am}"}
        = am

.tabs-content
  .content.active#all_related
    %ul.inline-list
      - all_related_nodes.values.flatten.each do |related_node|
        %li
          = render 'small_card', node: related_node, link_path: url_for(related_node)
  - node.association_methods.each do |am|
    .content{id: "related_#{am}"}
      %ul.inline-list
        - all_related_nodes[am].each do |related_node|
          %li
            = render 'small_card', node: related_node, link_path: url_for(related_node)
