:ruby
  all_related_nodes = node.all_related_nodes

#all_related.content
  = trio_panel('related nodes')
  %ul.inline-list
    - all_related_nodes.values.flatten.each do |related_node|
      %li
        = render 'small_card', node: related_node, link_path: url_for(related_node)

- node.association_methods.each do |am|
  .content{id: "related_#{am}"}
    = trio_panel(am)
    %ul.inline-list
      - all_related_nodes[am].each do |related_node|
        %li
          = render 'small_card', node: related_node, link_path: url_for(related_node)
