:ruby
  link_path ||= current_show_path(node)

.card.small-card{class: dom_class(node, :card), 'data-card-path' => current_show_path(node), 'data-card-uuid' => node.uuid}
  .card-header
    %h5
      = render 'small_card_header', node: node, link_path: link_path

  .card-body
    .main-image
      - if node.image?
        = link_to(link_path) do
          = image_tag(node.image.small.url)
  .card-footer
    %small.left
      = node.labels.last
    %small.right
      = node.neo_id

