:ruby
  link_path ||= current_show_path(node)

.card.small-card{card_props(node)}
  .cardtec-header.hide
    = cardtec_header(node)
  .card-header
    %h5
      = link_to(link_path) do
        = node.human_title






  .card-body
    %hr
    - if node.image?
      .main-image
        = link_to(link_path) do
          = image_tag(node.image.small.url)

  .card-footer
    / %small.left
    /   = node.labels.last
    / %small.right
    /   = node.neo_id

