!!!
%html{lang: I18n.locale}
  %head
    = render 'layouts/html_head'

  %body
    = render 'layouts/navigation'
    = render 'sub_navigation'
    .row.spacer
      .row{"data-equalizer" => ""}
        .columns.hashgrid-e4{"data-equalizer-watch" => ""}
          = render 'navigation'
        .columns.hashgrid-focus{"data-equalizer-watch" => ""}
          = yield
        .columns.hashgrid-e2{"data-equalizer-watch" => ""}
          = render 'node_controls'

  = javascript_include_tag 'application'


