!!!
%html{lang: I18n.locale}
  %head
    = render 'layouts/html_head'

  %body
    = render 'layouts/navigation'
    = render 'sub_navigation'
    .row
      .row{"data-equalizer" => ""}
        .columns.hashgrid-e4
          = render 'side_navigation'
        .columns.hashgrid-focus.content{"data-equalizer-watch" => ""}
          = yield
        .columns.hashgrid-e2{"data-equalizer-watch" => ""}
          = render 'node_controls'

  = javascript_include_tag 'application'


