!!!
%html{lang: I18n.locale}
  %head
    = render 'layouts/html_head'

  %body
    .row.spacer
      .row{"data-equalizer" => ""}
        .columns.hashgrid-e4
          = yield(:left_sidebar)
          = render 'raw_node/nodes/labels', labels: @labels
        .columns.hashgrid-focus{"data-equalizer-watch" => ""}
          = yield
        .columns.hashgrid-e2
          = yield(:right_sidebar)
          = render 'raw_node/nodes/node_controls'

  = javascript_include_tag 'application'


